
.bar-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    
    .chart-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    
    .category-select-row {
        display: flex;
        color: black;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    
    .custom-select {
        flex-basis: calc(33.33% - 10px);
        
        padding: 10px;
        margin-right: 10px;
        margin-left: 20px;
        
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
    }

    
    .select-label {
        font-weight: bold;
        color: black;
    }

    
    .chart {
        width: 70%;
        margin: 0 auto;
    }
}